div {
	margin-right: auto;
	margin-left: auto;
	width: 80%;
}
#next {
	float:right;
}
.back  {
	float: left;
}
.hidden {
	display: none;
}
figure {
	text-align: center;
}
.bold {
	font-weight: bold;
	font-size: 200%;
}
.openbook {
	height: 300px;
}