div {
	margin-right: auto;
	margin-left: auto;
	width: 80%;
	padding: 5%;
}
#next {
	float:right;
}
.back  {
	float: left;
}
.hidden {
	display: none;
}
figure {
	text-align: center;
}
figcaption{
	font-size:60px;
}
.bold {
	font-weight: bold;
	font-size: 200%;
}
.openbook {
	height: 300px;
}
#homebutton:hover {
	width: 25%;
}
h1 {
	text-align: center;
}
#homebutton {
	float: right;
}
.home {
	width: 20%;
	float: right;
}
