table, th, td {
	border: 1px solid black;
}
table {
	border-collapse: collapse;
}
tr {
	color: blue;
}
table {
	margin-left: auto;
	margin-right: auto;
}
figure img {
	height: 150px;
}
.selected {
	background-color: red;
}
h1, h2 {
	text-align: center;
}
figure {
	text-align: center;
}
h2 {
	font-size: 80%;
}
a {
	float: right;
}
.home {
	width: 20%;
	float: right;
}
div {
	padding: 5%;
}
#big {
	text-align: center;
	font-size: 200%;
	font-weight: bold;
}
a:hover {
	width: 25%;
}