#openbook{
  color: blue;
}
div {
	margin-right: auto;
	margin-left: auto;
	width: 80%;
}
#next {
	float:right;
}
.back  {
	float: left;
}
#image  {
	margin-right: auto;
	margin-left: auto;
}
.hidden {
	display: none;
}
figure {
	text-align: center;
}